* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

body {
  background: radial-gradient(circle at top, #1e293b, #020617);
  color: #e5e7eb;
  min-height: 100vh;
}

/* DASHBOARD */
.dashboard {
  max-width: 1200px;
  margin: auto;
  padding: 30px;
}

/* HEADER */
.topbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}

.topbar h1 {
  font-size: 2rem;
  font-weight: 700;
}

.topbar h1 span {
  color: #22c55e;
}

.topbar p {
  color: #94a3b8;
  font-size: 0.9rem;
}

.top-actions {
  display: flex;
  gap: 12px;
}

select {
  background: #0f172a;
  color: white;
  border: 1px solid #334155;
  padding: 8px 12px;
  border-radius: 20px;
}

.download-btn {
  background: #2563eb;
  color: white;
  border: none;
  padding: 10px 16px;
  border-radius: 20px;
  cursor: pointer;
  font-weight: 600;
}

/* GRID */
.grid {
  display: grid;
  grid-template-columns: 320px 1fr;
  gap: 25px;
}

/* LEFT */
.left-panel .card {
  background: #0f172a;
  padding: 20px;
  border-radius: 16px;
  margin-bottom: 20px;
  border: 1px solid #1e293b;
}

.card h3 {
  margin-bottom: 12px;
  font-size: 1rem;
}

.card input {
  width: 100%;
  padding: 12px;
  margin-bottom: 12px;
  border-radius: 12px;
  border: none;
  background: #020617;
  color: white;
}

.btn {
  width: 100%;
  padding: 12px;
  border-radius: 14px;
  border: none;
  cursor: pointer;
  font-weight: 600;
}

.btn.green {
  background: #059669;
}

.btn.blue {
  background: #2563eb;
}

/* RIGHT */
.stats {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 16px;
}

.stat {
  background: #0f172a;
  padding: 20px;
  border-radius: 18px;
  border: 1px solid #1e293b;
}

.stat p {
  color: #94a3b8;
  margin-bottom: 6px;
}

.stat h2 {
  font-size: 1.6rem;
}

.income { border-left: 4px solid #22c55e; }
.spent  { border-left: 4px solid #ef4444; }
.balance{ border-left: 4px solid #3b82f6; }

/* CHART + LIST */
.data-section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  margin-top: 25px;
}

.chart-card,
.list-card {
  background: #0f172a;
  border-radius: 20px;
  padding: 20px;
  border: 1px solid #1e293b;
}

.list-card h3 {
  margin-bottom: 12px;
}

#expenseList {
  list-style: none;
}

#expenseList li {
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
  border-bottom: 1px solid #1e293b;
}

#expenseList button {
  background: none;
  border: none;
  color: #ef4444;
  font-size: 1.1rem;
  cursor: pointer;
}

canvas {
  width: 100%;
  height: 280px;
}

/* RESPONSIVE */
@media (max-width: 900px) {
  .grid {
    grid-template-columns: 1fr;
  }

  .stats {
    grid-template-columns: 1fr;
  }

  .data-section {
    grid-template-columns: 1fr;
  }
}
